*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

d-flex{
    display: flex;
}

body{
    color: white ;
    background-color: rgb(29, 26, 26) ;
    font-family: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    color: color-mix(in srgb, aliceblue , transparent 25%);
    text-decoration: none;
}
h1,
h2,
h3,
h4{
    color: rgb(75, 75, 75) ;
    font-family: "Raleway",  sans-serif;
}


.header{
    background-color: black;
    padding: 20px 0;
    transition: all 0.5s;
    z-index: 1000;
    
}
.header .logo {
    line-height: 1;
}

.header .logo img {
max-height: 32px;
margin-right: 8px;
}

.header .logo h1 {
font-size: 30px;
margin: 0;
font-weight: 700;
color: var(--heading-color);
}

.header .container-fluid{
margin: 0;
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
}

.scrolled .header {
box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}


/* Desktop Navigation */
@media (min-width: 1200px) {
    .navmenu {
      padding: 0;
    }
  
    .navmenu ul {
      margin: 0;
      padding: 0;
      display: flex;
      list-style: none;
      align-items: center;
    }
  
    .navmenu li {
      position: relative;
    }
  
    .navmenu>ul>li {
      white-space: nowrap;
      padding: 15px 14px;
    }
  
    .navmenu>ul>li:last-child {
      padding-right: 0;
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-color);
      font-size: 15px;
      padding: 0 2px;
      font-family: var(--nav-font);
      font-weight: 400;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
      position: relative;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      transition: 0.3s;
    }
  
    .navmenu>ul>li>a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: -6px;
      left: 0;
      background-color: darkgray;
      visibility: hidden;
      width: 0px;
      transition: all 0.3s ease-in-out 0s;
    }
  
    .navmenu a:hover:before,
    .navmenu li:hover>a:before,
    .navmenu .active:before {
      visibility: visible;
      width: 100%;
    }
  
    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
      color: burlywood;
    }
} 


/* Mobile Navigation */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
      color: var(--nav-color);
      font-size: 28px;
      line-height: 0;
      margin-right: 10px;
      cursor: pointer;
      transition: color 0.3s;
    }
  
    .navmenu {
      padding: 0;
      z-index: 9997;
    }
  
    .navmenu ul {
      display: none;
      list-style: none;
      position: absolute;
      inset: 60px 20px 20px 20px;
      padding: 10px 0;
      margin: 0;
      border-radius: 6px;
      background-color: var(--nav-mobile-background-color);
      border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
      box-shadow: none;
      overflow-y: auto;
      transition: 0.3s;
      z-index: 9998;
    }
  
    .navmenu a,
    .navmenu a:focus {
      color: var(--nav-dropdown-color);
      padding: 10px 20px;
      font-family: var(--nav-font);
      font-size: 17px;
      font-weight: 500;
      display: flex;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      transition: 0.3s;
    }
  
    .navmenu a i,
    .navmenu a:focus i {
      font-size: 12px;
      line-height: 0;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: 0.3s;
      background-color: color-mix(in srgb, white, transparent 90%);
    }
  
    .navmenu a i:hover,
    .navmenu a:focus i:hover {
      background-color: #0078ff;
      color: #fff;
    }
  
    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
      color: blue;
    }
  
    .navmenu .active i,
    .navmenu .active:focus i {
      background-color: #0078ff;
      color: #fff;
      transform: rotate(180deg);
    }
}  

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
  --background-color: color-mix(in srgb, var(--default-color), transparent 96%);
  color: var(--default-color);
  background-color: var(--background-color);
  padding: 25px 0;
  position: relative;
}

.page-title h1 {
  font-size: 24px;
  font-weight: 700;
}

.page-title .breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
}

.page-title .breadcrumbs ol li+li {
  padding-left: 10px;
}

.page-title .breadcrumbs ol li+li::before {
  content: "/";
  display: inline-block;
  padding-right: 10px;
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
  color: var(--default-color);
  background-color: rgb(240, 240, 235);
  color: black;
  padding: 60px 0;
  scroll-margin-top: 92px;
  overflow: clip;
}

@media (max-width: 1199px) {

  section,
  .section {
    scroll-margin-top: 76px;
  }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
  text-align: center;
  padding-bottom: 60px;
  position: relative;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  
}

.section-title h2:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: calc(100vh - 92px);
  position: relative;
  padding: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}

.hero img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit:contain;
  z-index: 1;
}

.hero:before {
  content: "";
  background: color-mix(in srgb, black, transparent 45%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.hero .container {
  position: relative;
  z-index: 3;
}

.hero h2 {
  color: white;
  margin-top: 30px;
  font-size: 68px;
  font-weight: 700;
}

.hero p {
  margin: 5px 0 0 0;
  font-size: 36px;
  font-weight: 600;
  color: rgb(255, 255, 255);

}

.hero p span {
  letter-spacing: 1px;
}

@media (max-width: 768px) {
  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 20px;
  }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .container {
  background-color:rgb(240, 240, 235);
  box-shadow: 0px 2px 15px rgba(36, 30, 30, 0.1);
  padding: 30px;
}
.about img{

  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit:contain;

}
.about .skills-content h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 30px 0 15px 0;
}

.about .progress {
  height: 36px;
  display: block;
  background: none;
  border-radius: 0;
  margin-top: 15px;
}

.about .progress .skill {
  color: var(--default-color);
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: var;
}

.about .progress .skill .val {
  float: right;
  font-style: normal;
}

.about .progress-bar-wrap {
  background: color-mix(in srgb, grey, transparent 90%);
  height: 10px;
}

.about .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: rgb(78, 78, 133);
}

.about .about-me h4 {
  font-size: 28px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: 700;
}

.about .about-me h4:after {
  content: "";
  position: absolute;
  display: block;
  width: 64px;
  height: 3px;
  background: var(--accent-color);
  left: 0;
  bottom: 0;

}

.about .about-me p {
  font-size: 18px;
}

.about .check1{
  border: 1px solid black;
} 

.about .about-info{
  align-content: center;

}

/* ------------------------------------------------------
RESUME SECTION
---------------------------------------------------------*/
.resume .resume-title{
  font-size: 32px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resume .resume-item{
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid blueviolet;
  position: relative;
}

.resume .resume-item h4{
  line-height: 18px;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
  color: color-mix(in srgb, black, transparent 20%);
}

.resume .resume-item h5 {
  font-size: 16px;
  padding: 5px 15px;
  /* display: inline-block; */
  font-weight: bolder;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: blueviolet;

}

/* services */
.services .service-item{
  background-color: #edeef0;
  box-shadow: 0px 5px 90px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 20px;
  transition: all ease-in-out 0.35;
  border-radius: 18px;
  border-bottom: 5px solid blueviolet;
  height: 100%;
}


.services .service-item .icon{
  color: white;
  background-color: blueviolet;
  margin: 0;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 28px;
  transition: ease-in-out  0.3s;

}


@media (min-width: 1365px) {
  .services .service-item:hover {
    transform: translateY(-20px);
    border-color: var(--accent-color);
    transition: ease-in-out  0.6s;

  }

  .services .service-item:hover h3 {
    color: blueviolet;
  }
}
/* -----------------
STATICS
----------------------------- */

/*--------------------------------------------------------------
# Stats Section
--------------------------------------------------------------*/
.stats {
  position: relative;
  padding: 120px 0;
}

.stats img {
  position: absolute;
  inset: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.stats:before {
  content: "";
  background: color-mix(in srgb, blueviolet, transparent 40%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.stats .container {
  position: relative;
  z-index: 3;
}

.stats .stats-item {
  padding: 30px;
  width: 100%;
}

.stats .stats-item span {
  font-size: 48px;
  display: block;
  color: var(--default-color);
  font-weight: 700;
}

.stats .stats-item p {
  padding: 0;
  margin: 0;
  font-family: var(--heading-font);
  font-size: 16px;
  font-weight: 700;
  color: white
}
/* -----------------
PORTFOLIO
----------------------------- */
/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio .portfolio-filters {
  padding: 0;
  /* margin: 0 auto 20px auto; */
  list-style: none;
  text-align: center;
}

.portfolio .portfolio-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  margin: 0 10px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio .portfolio-filters li:hover,
.portfolio .portfolio-filters li.filter-active {
  color: var(--accent-color);
}

.portfolio .portfolio-filters li:first-child {
  margin-left: 0;
}

.portfolio .portfolio-filters li:last-child {
  margin-right: 0;
}

@media (max-width: 575px) {
  .portfolio .portfolio-filters li {
    font-size: 14px;
    margin: 0 5px;
  }
}

.portfolio .portfolio-item {
  position: relative;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: color-mix(in srgb, white, transparent 10%);
  padding: 55px 10px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  font-weight: 600;
  /* padding-right: 50px; */
}

.portfolio .portfolio-item .portfolio-info p {
  color: color-mix(in srgb, var(--default-color), transparent 30%);
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 50px;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 14px);
  color: RED;

  transition: 0.3s;
  line-height: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: var(--accent-color);
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 14px;
  font-size: 28px;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}
/* --------------
CONTACT SECTION
------------- */
.contact .info-wrap{
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 30px;
}

.contact .info-item i{
  font-size: 25px;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  margin-right: 15px;
}

.contact .info-item h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 2px 0;
}

.contact .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .info-item:hover i{
  background-color: black;
  color: white;
}

.contact .php-email-form{

  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin: 30px;

  /* background-color: aliceblue;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px; */
}

@media(max-width: 575px){
  .contact .php-email-form {
    padding: 20px;
  }
}

.contact .php-email-form input[type=text],
.contact .php-email-form input[type=email],
.contact .php-email-form textarea{
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  color: black;
  background-color: color-mix(in srgb, rgb(238, 237, 240) 20%, transparent 50%);
  border-color: #cfcdcd;
}

.contact .php-email-form input[type=text]:focus,
.contact .php-email-form input[type=email]:focus,
.contact .php-email-form textarea:focus {
  border-color: blueviolet;
}

.contact .php-email-form button[type=submit] {
  color: white;
  background: black;
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}
/* --------------
FOOTER SECTION
------------- */
.footer{
  color: white;
  background-color: black;
  font-size: 14px;
  padding: 40px 0;
  position: relative ;
}

.footer .copyright p{
  margin-bottom: 0;
}

.footer .social-links{
  margin-top: 20px;
}

.footer .social-links a{
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #302e2e;
  border-radius: 50%;
  /* border: 2px solid color-mix(in srgb, rgb(255, 255, 255), transparent 30%); */
  margin: 0 5px;

}

.footer .credits {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}
